<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
</head>
<body>
    <h1>留言板</h1>
    <% if (!auth) {%>
        <p>您尚未登入, 只能瀏覽不能留言</p>
    <% } %>

    <% if (auth) {%>
    <form action="/messageBoard" method="post">
        <input type="text" name="content" placeholder="填寫留言訊息">
        <input type="submit" valut="送出">
        <%= errors %>
    </form>
    <% }%>
    <% if (!auth) {%>
        <a href="/login">登入</a>
    <% } else { %>
        <a href="/logout">登出</a>
    <% } %>
    <a href="/signup">註冊</a>

    <% if (auth) {%>
    <a href="/user">個人頁面</a>
    <% } %>
    <ul>
        <% for(item in message_list) {%>
            <li>
                <%= message_list[item].nickname%> : <%= message_list[item].content %>
                <!-- 姓名 : 留言內容 -->
            </li>
        <% } %>
     </ul>
</body>
</html>